@using EnjOffer.Core.DTO;
@using System.Security.Claims;
@model WordsUpdateRequest?;
@{
    ViewBag.Title = "Word trainer";

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/word-trainer.css">
    <title>@ViewBag.Title</title>
</head>

@{
    string js = @"function addWord() {
        document.querySelector('.add-word').style.display = 'none';
        document.querySelector('.add-word-modal').style.display = 'block';
    }

    function closeModal() {
        document.querySelector('.add-word-modal').style.display = 'none';
        document.querySelector('.add-word').style.display = 'block';
    }
    
    if (event.target.className === 'add-word-modal__main') {
        const inputs = event.target.querySelectorAll('.modal-input');

        inputs.forEach(input => {
        console.log(`${input.getAttribute('name')}: ${input.value}`);
        });

        for (let i = 0; i < inputs.length; i++) {
        inputs[i].value = '';
        }
    }
";
}
<script>
    @Html.Raw(js);
</script>

<body>
    <main class="word-trainer">
        <div class="sidebar-container">
            <aside class="sidebar">
                <a href="/" class="sidebar__item" id="sidebar__personal-account">
                    <h2 class="sidebar__item-content">Personal account</h2>
                </a>
                <a href="word-trainer" class="sidebar__item" id="sidebar__word-trainer">
                    <h2 class="sidebar__item-content">Word trainer</h2>
                </a>
                <a href="library" class="sidebar__item" id="sidebar__library">
                    <h2 class="sidebar__item-content">Library</h2>
                </a>
            </aside>
        </div>
        <form class="word-trainer__main" method="POST" action="word-trainer/check-word">
            <div class="image-container">
                @if (@Model?.ImageSrc is null)
                {
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png"
                    draggable="false">
                    <input type="hidden" style="display: none;" name="ImgSrc" value="@Model?.ImageSrc"></input>
                }
                else
                {
                    <img src="@Model?.ImageSrc"
                    draggable="false">
                    <input type="hidden" style="display: none;" name="ImgSrc" value="@Model?.ImageSrc"></input>
                }
                <h1>Enter the word or phrase</h1>
            </div>
            @if (ViewBag.Placeholder is null)
            {
                <input type="text" class="word-input" placeholder="Enter the word" name="Word" />
            }
            else
            {
                <input type="text" class="word-input" placeholder="@ViewBag.Placeholder" name="Word" />
            }
            <input style="display: none;" type="text" class="word-input" value="@Model?.DefaultWordId" placeholder="" name="DefaultWordId" />
            <input style="display: none;" type="hidden" class="word-input" value="@Model?.UserId" placeholder="" name="UserId" />
            <input style="display: none;" type="hidden" class="word-input" value="@Model?.UserWordId" placeholder="" name="UserWordId" />

            @*@Html.HiddenFor(model => model.UserId, User.FindFirstValue(ClaimTypes.NameIdentifier))*@

            <!--<input style="display: none;" type="text" class="word-input" value="@Model?.UserWordId" placeholder="" name="UserWordId" />-->
            @if (ViewBag.IsCorrectEntered == null)
            {
                
            }
            else if (ViewBag.IsCorrectEntered == true) {
                <p style="color: green;">Попереднє слово було введено правильно</p>
            }
            else if (ViewBag.IsCorrectEntered == false)
            {
                <p style="color: red;">Попереднє слово було введено неправильно</p>
            }

            <p style="font-size: 22px;">@Model?.WordTranslation</p>
            <div class="word-trainer__buttons">
                <button type="submit" class="functional-button">Enter</button>
                <button class="functional-button" type="submit" formaction="word-trainer/use-hint">Use a hint</button>
            </div>
        </form>
        <img src="https://www.freeiconspng.com/thumbs/plus-icon/plus-icon-black-2.png" class="add-word"
            draggable="false" onclick="@Html.Raw("addWord();")"/>
        <section class="add-word-modal">
            <img src="https://www.citypng.com/public/uploads/preview/png-red-round-close-x-icon-31631915146jpppmdzihs.png"
                draggable="false" class="close-modal-button" onclick="@Html.Raw("closeModal();")" />
            <div class="add-word-modal__header">
                <h2>Add your word</h2>
            </div>
            <form class="add-word-modal__main" method="POST" action="word-trainer/add-user-word">
                <input type="text" placeholder="Word" class="modal-input" name="Word" required/>
                <input type="text" placeholder="Traslation" class="modal-input" name="WordTranslation" required/>
                <input type="hidden" name="UserId" value="@Model?.UserId" style="display: none;"/>
                <button class="add-word-button" type="submit">Add word</button>
            </form>
        </section>
    </main>
</body>

</html>


<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->

